.container
  .row
    .col-md-10
      #track-list

    .col-md-2
      #game-status
      #game-controls

#game-answers

%script#trackListItemTemplate{type: 'text/template'}
  .media.inactive
    .pull-left
      %span.media-object.glyphicon
    .media-body
      %h5 <%= artist %>
      %h4 <%= title %>

%script#gameStatusTemplate{type: 'text/template'}
  .panel.panel-default
    .panel-body
      %h1 1:00
    .panel-footer
      Genre:
      %strong Jazz

%script#gameControlsTemplate{type: 'text/template'}
  .panel.panel-default
    .panel-body
      %button.btn.btn-primary.btn-lg.btn-block#button-play Play
      %button.btn.btn-primary.btn-lg.btn-block#button-stop Stop
      %button.btn.btn-primary.btn-lg.btn-block#button-next Next

%script#gameAnswersTemplate{type: 'text/template'}
  .container
    .row
      .col-md-12
        %h3 Pick an answer:
        .row
          .col-md-4
            .panel.panel-default
              .panel-body
                %h5 <%= answers[0].artist %>
                %h4 <%= answers[0].title %>
          .col-md-4
            .panel.panel-default
              .panel-body
                %h5 <%= answers[1].artist %>
                %h4 <%= answers[1].title %>
          .col-md-4
            .panel.panel-default
              .panel-body
                %h5 <%= answers[2].artist %>
                %h4 <%= answers[2].title %>

=javascript_include_tag 'game'
:javascript
  $(document).ready(function() {
    $.ajax({
      url: "#{api_game_index_url}",
      success: function(data) {
        game = new Game({
          trackList: data
        });
        game.start();
      }
    });
  });
