#content
  .container
    .row
      .col-md-9
        #track-list

      .col-md-3
        #game-status
        #game-controls

  #game-answers

  #loading-modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          %h4.modal-title Loading...
        .modal-body
          .media
            .pull-left
              %span.glyphicon.glyphicon-music.animated.bounce
            .media-body
              %h4.media-heading We are preparing your challenge!
              %p Wait a bit while we fetch some juicy tracks.

%script#trackListItemTemplate{type: 'text/template'}
  .media.inactive
    .pull-left
      %span.media-object.glyphicon
    .media-body
      %h5 <%= artist %>
      %h4 <%= title %>
      .progress.progress-striped.active
        .progress-bar

%script#gameStatusTemplate{type: 'text/template'}
  .panel.panel-default
    .panel-body
      %h1
        %span.seconds 60
        %span.milliseconds 000
    .panel-footer
      %h3
        %span.genre= @genre
        %span.resume 0/10

%script#gameControlsTemplate{type: 'text/template'}
  %div#game-button
    %span.glyphicon
    %span.gameStatus

%script#gameAnswersTemplate{type: 'text/template'}
  .container
    .row
      .col-md-12
        %h3 Pick an answer:
        .row#answers-list

%script#gameAnswerTemplate{type: 'text/template'}
  .col-md-4
    .panel.panel-default
      .panel-body
        %h5 <%= artist %>
        %h4 <%= title %>

%script#gameEndingTemplate{type: 'text/template'}
  #game-ending
    .media
      .pull-left
        %span.glyphicon.glyphicon-certificate
      .media-body
        %h4.media-heading <%= title %>
        %p
          With a <%= ratio %>, you got
          %strong <%= points %>
          points.

=javascript_include_tag 'game'
:javascript
  var game;

  $(document).ready(function() {
    $('#loading-modal').fadeIn(400, initGame);
  });

  function initGame() {
    $.ajax({
      url: "#{api_game_index_url}",
      data: {
        genre: "#{@genre}"
      },
      success: function(data) {
        game = new Game({
          id: data.id,
          genre: "#{@genre}",
          trackList: data,
          answersUrl: '/api/game/'
        });
        $('#loading-modal').fadeOut();
        game.start();
      }
    });
  }
