.container
  .row
    .col-md-10
      #track-list

    .col-md-2
      #game-status
      #game-controls

#game-answers
  .container
    .row
      .col-md-12
        %h3 Pick an answer:
        .row
          .col-md-6
            .panel.panel-default
              .panel-body
                %h5 Artist
                %h4 Title
          .col-md-6
            .panel.panel-default
              .panel-body
                %h5 Artist
                %h4 Title
        .row
          .col-md-6
            .panel.panel-default
              .panel-body
                %h5 Artist
                %h4 Title
          .col-md-6
            .panel.panel-default
              .panel-body
                %h5 Artist
                %h4 Title

%script#trackListItemTemplate{type: 'text/template'}
  .media.inactive
    .pull-left
      %span.media-object.glyphicon
    .media-body
      %h5 <%= artist %>
      %h4 <%= title %>

%script#gameStatusTemplate{type: 'text/template'}
  .panel.panel-default
    .panel-body
      %h1 1:00
    .panel-footer
      Genre:
      %strong Jazz

%script#gameControlsTemplate{type: 'text/template'}
  .panel.panel-default
    .panel-body
      %button.btn.btn-primary.btn-lg.btn-block#button-play Play
      %button.btn.btn-primary.btn-lg.btn-block#button-stop Stop
      %button.btn.btn-primary.btn-lg.btn-block#button-next Next

=javascript_include_tag 'game'